.header-topbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: burlywood;

    a {
        text-decoration: none;
    }

    .logo {
        width: 50px;
        border-radius: 50%;
    }

    .nav-area {
        list-style: none;
    }

    .nav-area li {
        display: inline-block;
        padding: 0 15px;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .nav-area li a {
        transition: all 0.3s ease;
        color: black;
    }

    .nav-area li a:hover {
        color: brown;
    }

    .navbar-mobile {
        display: none;
    }
}

.container-trade {
    position: fixed;
    top: 300px;
    right: 0;
    display: flex;

    .toggle-btn {
        position: relative;
        top: 0;
        a {
            text-decoration: none;
            letter-spacing: 1px;
        }
        .box-rotate {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(-180deg);
            cursor: pointer;
            white-space: nowrap;
            background-color: burlywood;
            padding: 10px;
        }

        .arrow-close{
            transform: rotate(0deg);
        }
        .arrow-open{
            transform: rotate(180deg);
        }
    }
    .content-trade {
        width: 400px;
        height: 500px;
        padding: 10px;
        box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.5);
    }  

    .close{
        display: none;
    }

}









@media (max-width: 768px) {
    .header-topbar {
        justify-content: space-between;

        .logo {
            margin: 0 10px;
        }

        .navbar-pc {
            display: none;
        }

        .navbar-mobile {
            display: flex;
            margin: 0 10px;

            i {
                font-size: 24px;
                cursor: pointer;
            }

            .list-mobile {
                background-color: burlywood;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 55px;
                margin-right: 0;
                ul {
                    list-style: none;
                    padding: 10px;
                }
                a {
                    color: black;
                    letter-spacing: 2px;
                }

                a:hover {
                    color: brown;
                }
            }

            .close {
                display: none;
            }
        }
    }
}
